# Python virtual environment
.venv

# Jupyter Notebook savepoints
.ipynb_checkpoints/

# Compiled Python bytecode
__pycache__
*.py[cod]

# The test and training folder
train/
test/

# Media files
*.png
*.jpg
*.jpeg
